@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", system-ui, sans-serif;
  --font-jetbrains: "JetBrains Mono", ui-monospace, monospace;
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-surface font-sans text-on-surface antialiased;
}

* {
  box-sizing: border-box;
}
